.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
  text-align: center;
}
.pswp__caption__center {
  text-align: center;
}
