body {
  font-family: 'Josefin Sans', sans-serif;
}
.header {
  text-align: center;
}
.my-gallery {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.my-gallery img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}
.my-gallery figure {
  display: inline-block;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
  text-align: center;
}
.pswp__caption__center {
  text-align: center;
  font-size: 1.4em;
  max-width: none;
}
.photo-header {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 2em;
}

.filters {
  display: inline-block;
  margin-bottom: 10px;
}
.filters img {
  display: inline-block;
  height: 36px;
  width: 36px;
}
.filters svg {
  display: inline-block;
  margin-top: 20px;
  height: 36px;
  width: 36px;
}

.filters svg.active {
  fill: #78B9EF !important;
}
.filters img.active text{
  fill: #78B9EF !important;
}
.filters img.active path{
  fill: #78B9EF !important;
}
