body {
  font-family: 'Josefin Sans', sans-serif;
}
.header {
  text-align: center;
  font-size: 2em;
  font-weight: normal;
}
.my-gallery {
  display: inline-block;
  text-align: center;
}
.my-gallery div {
  object-fit: cover;
  image-orientation: from-image;
}
.my-gallery figure {
  display: inline-block;
  margin: 0 5px 5px 0;
}
.my-gallery figcaption {
  display: none;
  text-align: center;
}
.pswp__caption__center {
  text-align: center;
  font-size: 1.4em;
  max-width: none;
}
.photo-header {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 2em;
}
