{% extends 'admin_layout.html' %}
{% block title %}Create a Portfolio{% endblock %}

{% block content %}
<script>
function createPortfolio() {
	const name = document.querySelector('input[name=portfolio_name]').value;
	const selected_albums = document.querySelectorAll('input[name=album]:checked');
	let ids = Array.from(selected_albums).map(checkbox => parseInt(checkbox.value));

	const primaryAlbumId = document.getElementById("primary_album_id_dropdown").value;
	if (!ids.includes(primaryAlbumId)) {
		ids.push(primaryAlbumId);
	}

	let data = {}
	data['name'] = name;
	data['primary_album_id'] = primaryAlbumId;
	data['album_ids'] = ids;

	let xhr = new XMLHttpRequest();
	xhr.open("POST", "/api/v1/portfolios", true);
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.send(JSON.stringify(data));
}
</script>

<h1>Create a Portfolio</h1>

<div class="input-group">
	<div class="input-group-prepend">
		<span class="input-group-text">Name</span>
	</div>
	<input type="text" class="form-control" placeholder="Portfolio Name" id="portfolio_name" name="portfolio_name">
</div>

<br />

<div class="input-group">
	<div class="input-group-prepend">
		<span class="input-group-text">Primary Album</span>
	</div>
	<select class="custom-select" id="primary_album_id_dropdown">
		{% for album in albums %}
		<option value={{album.id}}>{{album.name}}</option>
		{% endfor %}
	</select>
</div>

<br />

<h4>Albums to Include</h4>
{% for album in albums %}
<input id="album-{{album.id}}" type="checkbox" name="album" value="{{album.id}}">
<label for="album-{{album.id}}">{{ album.name }}</label><br>
{% endfor %}

<button class="btn btn-primary" onclick="createPortfolio()">Create Portfolio</button>
{% endblock %}
