{% extends 'admin_layout.html' %}
{% block title %}Image View{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-4">
		<img class="img-thumbnail" src={{url_for('static', filename=image.original_path)}} />

		<br />
		<br />
		<button class="btn btn-danger" value="{{ image.id }}" onclick="deleteImage(this)">Delete Image</button>

	</div>

	<div class="col-md-4">
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">Caption</span>
			</div>
			<input type="text" class="form-control" id="image_caption" value="{{image.caption}}" aria-label="Caption">
			<div class="input-group-append">
				<button class="btn btn-outline-primary" onclick="updateImageCaption(this)" data-image-id={{image.id}}>Set</button>
			</div>
		</div>

		<br />

		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">Location</span>
			</div>
			<input type="text" class="form-control" id="image_location" value="{{image.location}}" aria-label="Location">
			<div class="input-group-append">
				<button class="btn btn-outline-primary" onclick="updateImageLocation(this)" data-image-id={{image.id}}>Set</button>
			</div>
		</div>

		<br />

		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">Time</span>
			</div>
			<input type="text" class="form-control" id="image_date" value="{{image.date}}" aria-label="Time">
			<div class="input-group-append">
				<button class="btn btn-outline-primary" onclick="updateImageDate(this)" data-image-id={{image.id}}>Set</button>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<h4>Keywords</h4>
		<ul class="list-group list-group-flush">
		{% for keyword in image.keywords %}
			<li class="list-group-item">{{keyword.name}}</li>
		{% endfor %}
		</ul>

		<br />

		<h4>Albums</h4>
		<ul class="list-group list-group-flush">
			{% for album in image.albums %}
			<li class="list-group-item">
				<a class="btn btn-outline-primary" href={{url_for('get_album', album_id=album.id)}}>{{album.name}}</a>
				<button class="btn btn-outline-danger float-right" onclick="removeImageFromAlbum(this)" data-image-id={{image.id}} data-album-id={{album.id}}>Remove</button>
			</li>
			{% endfor %}

		<h4 class="my-3">Add to Album</h4>
			<div class="input-group">
				<select class="custom-select" id="image_new_album_dropdown">
					{% for album in albums %}
					<option value={{album.id}}>{{album.name}}</option>
					{% endfor %}
				</select>
				<div class="input-group-append">
					<button class="btn btn-outline-primary" onclick="addImageToAlbum(this)" data-image-id={{image.id}}>Add</button>
				</div>
			</div>
		</ul>
	</div>
</div>
{% endblock %}
