<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="css/nicktardif.min.css">
  <link rel="stylesheet" href="css/categories/{{ current_category.name }}.css">
  <script src="js/nicktardif.min.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Josefin Sans']
      }
    });
  </script>
</head>

<body>
  <div class="">

    <h1 class="header">nicktardif.com</h1>

    <div id="sidenav" class="sidenav">
      <a id="closenavbtn" class="closebtn">&times;</a>
      <p class="navheader">Photos</p>
      {% for category in categories %}
      <a href="{{ category.name }}.html">{{ category.pretty_name }}</a>
      {% endfor %}
      
      <!-- <a class="navheader" href="about.html">About</a> -->
    </div>

    <h2 id="opennav">
      &#8801; Menu
    </h2>

    <div id="my-gallery" class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    </div>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

      <!-- Background of PhotoSwipe. 
             It's a separate element, as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div>

      <!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

          <div class="pswp__top-bar">

            <!--  Controls are self-explanatory. Order can be changed. -->

            <div class="pswp__counter"></div>

            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

            <button class="pswp__button pswp__button--share" title="Share"></button>

            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

            <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader-[no space]-active when preloader is running -->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>

          </div>

          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div> 
          </div>

          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
          </button>

          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
          </button>

          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div id="category_name" style="display:none">{{ current_category.name }}</div>
</body>
